body{
    margin: 0;
    padding: 0;
}

#background{
    background-image: url('1232.WWDC_2019_Dark-1024w-1366h@2xipad.png');
    background-size: cover;
    height: 100vh;
    position: relative;
}

#container{
    background-color: rgba(240, 255, 255, 0.8);
    position: absolute;
    padding: 2rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-family: 'Lato', sans-serif;
    filter: drop-shadow(1rem 1rem 1rem);
}

#title{
    text-align: center;
    font-style: italic;
}

#button{
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
}

