body{
    margin: 0;
    padding: 0;
}

#background{
    background-image: url('1232.WWDC_2019_Dark-1024w-1366h@2xipad.png');
    background-size: cover;
    height: 100vh;
    position: relative;
}

#content{
    background-color: azure;
    position: absolute;
    padding: 1rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-family: 'Lato', sans-serif;
}
